@import "tailwindcss";

@theme {
  --color-primary: #3C50E0;
}

/* Base styles */
body {
  margin: 0;
  font-family: 'Roboto', 'Helvetica Neue', 'Arial', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}